name: Flet Window Build

on:
  # Runs on push to any of the below branches
  push:
    branches:
      - main

  # Runs on pull request events that target one of the below branches
  pull_request:
    branches:
      - main

  workflow_dispatch:

env:
  PYTHONUTF8: 1

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Install the project
        run: uv sync

      - name: Install flet-cli 0.28.2
        run: |
          python -m pip install --upgrade pip
          pip install flet-cli==0.28.2

      - name: Run build
        run: flet build windows
